@mixin blockStyles {
    border: 1px solid #374251;
    padding: 1.5em;
    border-radius: 0.3em;
    height: 100%;
    background: #1f2a37;
}

*,
a,
li,
button,
div {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}
body {
    // background: #111927;
    background: linear-gradient(270deg, #101010, #111927);
    background-size: 400% 400%;
    animation: bgAnimation 30s ease infinite;
}

input {
    outline: none;
}

.help_row {
    height: auto;
    padding-top: 2em;
    position: relative;

    .container {
        height: 100%;
    }
    .cont {
        background: #1f2a37;
        height: 100%;
        border: 1px solid #374251;
        border-radius: 0.3em;
        padding: 1.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 636px) {
            display: flex;
            flex-direction: column;
        }
    }
}

.help_row_item {
    @media screen and (max-width: 1005px) {
        &:nth-child(n + 5) {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 821px) {
        &:nth-child(n + 4) {
            margin-top: 20px;
            justify-content: flex-start;
        }
    }
    @media screen and (max-width: 636px) {
      display: flex;
      align-items: center;
      flex-direction: column;
        &:nth-child(n+2) {
          margin-top: 20px;
        }
    }
}

.help_row_item_title {
    margin-bottom: 1em;
}

.help_row_item_input {
    background: transparent;
    border: 1px solid #374251;
    border-radius: 0.3em;
    padding: 0.4em 0.4em;
    font-size: 0.8em;
    ::placeholder {
        color: #88909c;
    }
}

.result_section {
    margin-top: 30px;
    height: auto;
    .cont {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .result_card {
        @include blockStyles();
        width: 45%;
        padding: 2em;
        @media screen and (max-width: 1655px) {
            width: 100%;
        }
    }
    .code_result {
        width: 45%;
        height: auto;
        border: 1px solid #374251;
        padding: 1.5em;
        border-radius: 0.3em;
        background: #1f2a37;
        @media screen and (max-width: 1655px) {
            width: 100%;
            margin-top: 40px;
        }
    }
}

.result_content_title {
    font-weight: 500;
    font-size: 1.3em;
    padding: 0.8em;
}

.result_content_row {
    border-bottom: 1px solid #1a1a1a;
    height: 17%;
    @media screen and (max-width: 600px) {
      height: 60px;
    }
}

.result_content_team {
    padding: 0 1em;
}
.result_content_people_card {
    padding: 0.5em 0;
    height: 3em;
    display: flex;
    align-items: center;
    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 1em 0;
    }
}
.result_content_people_card:not(:last-child) {
    border-bottom: 1px solid #1a1a1a;
}

.card_logo {
    height: 2.2em;
    width: 2.2em;
    background: #333;
    border-radius: 50%;
    margin-right: 1em;
    @media screen and (max-width: 600px) {
      margin-right: 0!important;
      margin-bottom: 10px;
    }
}
.card_column {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 600px) {
      align-items: center;
      margin-bottom: 10px;
    }
}

.card_title {
    font-size: 0.9em;
}

.status {
    display: flex;
    align-items: center;
    margin-top: 0.3em;
}
.status_text {
    font-size: 0.8em;
    color: #9a9dac;
}
.circle {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin-right: 0.3em;
}

.status_online {
    background: #13a987;
}

.status_offline {
    background: #d81e5b;
}
.status_buzy {
    background: #f59e0b;
}

.btn {
    display: flex;
    margin-left: auto;
    padding: 1em;
    background: #3caa5b;
    border: none;
    font-size: 0.8em;
    border-radius: 0.5em;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      margin: 0 auto;
    }
}

.logo1 {
    background: url(./images/people_logo1.jpg) no-repeat center center;
    background-size: cover;
}
.logo2 {
    background: url(./images/people_logo2.jpg) no-repeat center center;
    background-size: cover;
}
.logo3 {
    background: url(./images/people_logo3.jpg) no-repeat center center;
    background-size: cover;
}
.logo4 {
    background: url(./images/people_logo4.jpg) no-repeat center center;
    background-size: cover;
}

.code_result {
    .code_result_title {
        margin-bottom: 1em;
    }
}
.code_result_content {
    display: flex;
    flex-direction: column;
}

.code_row {
    display: flex;
    align-items: center;
}

.selector {
    color: #f7a54f;
    margin-right: 0.3em;
}

.property_code_row {
    padding-left: 1.5em;
    margin: 0.3em 0;
}

.property_cont {
    padding-left: 0.3em;
    color: #099ceb;
}

.property_value {
    color: #e75159;
    word-wrap: break-word
}

.bracket {
    color: #8a919d;
}

.mt {
    margin-top: 3em;
}
.green {
    color: #3fb362;
}
.white {
    color: #fff;
}

.rcp {
    position: absolute;
    top: 8em;
    left: 40em;
    z-index: 11111;
}

@-webkit-keyframes bgAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bgAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}